# Sample QuickFIX/n initiator config for connecting to the local FixAcceptor.
# Mirror image of src/FixAcceptor/server.cfg:
#   ConnectionType is "initiator" (vs. "acceptor")
#   SenderCompID / TargetCompID are swapped
#   SocketConnectHost / SocketConnectPort replace SocketAcceptPort

[DEFAULT]
ConnectionType=initiator
ReconnectInterval=5
HeartBtInt=30
FileStorePath=store
FileLogPath=log
UseDataDictionary=Y
DataDictionary=FIX44.xml
ValidateUserDefinedFields=N
AllowUnknownMsgFields=Y
StartTime=00:00:00
EndTime=23:59:59

[SESSION]
BeginString=FIX.4.4
SenderCompID=CLIENT
TargetCompID=SERVER
SocketConnectHost=127.0.0.1
SocketConnectPort=5001
